table{
    margin: 70px 40px;
}
th{
    text-align: center;
}
table,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}
.post-title{
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    padding: 10px;
}